<opentosca-ui-action-bar>
    <opentosca-ui-action-item (click)="navigateToRepo()" styles="btn-primary pull-right">
        <i class="glyphicon glyphicon-new-window"></i> Repository Management
    </opentosca-ui-action-item>
    <opentosca-ui-action-item (click)="reloadApplications()" styles="btn-primary">
        <i class="glyphicon glyphicon-refresh"></i>
    </opentosca-ui-action-item>
    <opentosca-ui-search [placeholder]="'Filter applications...'" (searchTermChanged)="searchTermChanged($event)"></opentosca-ui-search>
</opentosca-ui-action-bar>
<div class="container-fluid">
    <div class="applicationTilesContainer">
        <div class="applicationTile"
             *ngFor="let app of apps | async | sort:['displayName']:['asc'] | fuzzySearch:searchTerm:['displayName','description','csarName']; trackBy: trackAppsFn">

            <div class="applicationTileImageContainer">
                <img [src]="app.iconUrl" onerror="this.src='/assets/Default_Application_Icon.png'"/>
            </div>
            <div id="applicationDisplayName">
                <span>{{app.displayName}}</span>
            </div>
            <div class="applicationTileButtonContainer">
                <a tooltip="Details" type="button" [href]="app.repositoryURL" class="btn btn-default btn-sm"
                   target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                <button tooltip="Install in Container" *ngIf="!app.inContainer && !app.isInstalling" type="button"
                        class="btn btn-default btn-sm" (click)="installInContainer(app)"><span
                    class="glyphicon glyphicon-plus-sign"></span></button>
                <button *ngIf="app.isInstalling"
                        class="btn btn-default btn-sm loading-indicator">
                    <sk-three-bounce class="spinner-small"></sk-three-bounce>
                </button>
                <a tooltip="Already installed in Container" *ngIf="!app.isInstalling && app.inContainer"
                   class="btn btn-success btn-sm"><span class="glyphicon glyphicon-check"></span></a>
                <a tooltip="Download" class="btn btn-default btn-sm" [href]="app.csarURL"><span
                    class="glyphicon glyphicon-download-alt"></span></a>
            </div>
        </div>
    </div>
</div>
<opentosca-ui-deployment-completion *ngIf="startCompletionProcess"[appToComplete]="appToComplete"[linkToWineryResource]="linkToWineryResource" (completionSuccessful)="installInContainer($event)"></opentosca-ui-deployment-completion>
