<nav class="menu" id="mainMenu">
    <div class="openTOSCALogoContainer"></div>
    <!--<a id="applicationsButton" class="selected" href="applications.html">Applications</a>-->
    <a id="applicationsButton" routerLink="/applications" routerLinkActive="selected">Applications</a>
    <a id="marketplaceButton" routerLink="/marketplace" routerLinkActive="selected">Marketplace</a>
    <a id="administrationButton" href="">Administration</a>
    <a id="aboutButton" href="">About</a>
</nav>
<router-outlet></router-outlet>

<!--
<div class="breadcrumbContainer">
    »&nbsp; <a href="">Applications</a> &nbsp;»&nbsp; OpenTOSCA MP
</div>

<table class="layoutTable" border="0">
    <tr>
        <td class="menu" id="subMenu">
            <div class="pageTopicIcon">
                <img src="../../assets/img/Applications_Header_Icon.png" />
            </div>
            <br />
            <a id="descriptionButton" class="selected" href="">Installed Apps</a>
            <a id="instancesButton" href="">Upload new App</a>
        </td>
        <td>
            <div id="content">

                $content

            </div>
        </td>
    </tr>
</table>
-->