body a.ui-state-active, body a.ui-state-highlight {
  //background-color: #ffffff;
  span.ui-menuitem-text {
    background-color: #ffffff;
  }
}

.ui-breadcrumb.ui-corner-all {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
