
body a.ui-state-active, body a.ui-state-highlight {
  span.ui-menuitem-text {
    background-color: #ffffff;
  }
}

.ui-breadcrumb--no-background {
  background: none;
}

.ui-breadcrumb--border-bottom {
  border-top: none;
  border-left: none;
  border-right: none;
}
