<div *ngIf="bpInstance?.state === 'FINISHED'; else NotFinished">
    <!--<a class="btn btn-success"-->
    <!--*ngIf="stInstance.state !== 'DELETED' && selfserviceApplicationUrl && selfserviceApplicationUrl !== ''"-->
    <!--[href]="selfserviceApplicationUrl" role="button" target="_blank">Open Application</a>-->
    <div class="card"
         *ngIf="stInstance.state !== 'DELETED' && bpInstance.output && (!selfserviceApplicationUrl || selfserviceApplicationUrl === '')">
        <div class="card-header pt-1 pb-1">Build Plan Output</div>
        <table class="table table-hover table-bordered table-sm mb-0">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">#</th>
                <th scope="col" class="text-left">Parameter</th>
                <th scope="col" class="text-left">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let param of bpInstance.output | filterOutputParams:['instanceId', 'CorrelationID']; let i = index">
                <td class="text-center" scope="row">{{ i + 1 }}</td>
                <td class="truncate" pTooltip="{{ param.name }}" tooltipPosition="top" showDelay="600">{{ param.name }}</td>
                <td class="truncate" pTooltip="{{ param.value }}" tooltipPosition="top" showDelay="600">{{ param.value }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #NotFinished>
    <div class="card">
        <div class="card-block">
            Build Plan is still running
            <sk-fading-circle></sk-fading-circle>
            Logs: {{ bpInstance?.logs | json }}
        </div>
    </div>
</ng-template>
