<div class="breadcrumbContainer">
    <ol class="breadcrumb">
        <li>
            <a id="appsBreadcrumb" routerLink="/applications">Applications</a>
        </li>
        <li class="active">
            Installed Apps
        </li>
    </ol>
</div>
<table class="layoutTable" border="0" @fadeInOut>
    <tr>
        <td class="menu" id="subMenu">
            <div class="pageTopicIcon">
                <img src="../../assets/img/Applications_Header_Icon.png"/>
            </div>
            <br/>
            <a id="descriptionButton" class="selected" href="">Installed Apps</a>
            <a id="instancesButton" routerLink="/applications/upload" routerLinkActive="selected">Upload new App</a>
        </td>
        <td>
            <div id="content">
                <div class="applicationTilesContainer">
                    <div class="applicationTile"
                         *ngFor="let app of apps" @fadeInOut>
                        <img [src]="app.iconUrl" onerror="this.src='/OpenTOSCAUi/Default_Application_Icon.png'"/>
                        <div style="padding-top: 5px">
                            <span>{{app.displayName}}</span>
                        </div>
                        <div style="padding-top: 10px">
                            <a id="applicationsButton" routerLink="/applications/{{app.id}}">Details</a>
                        </div>
                        <div style="padding-top: 0; padding-bottom: 0">
                            <button style="font-size: 12pt; font-family: Calibri, Arial; padding-top: 0; padding-bottom: 0; line-height: 1;" type="button"
                                    class="btn btn-link" (click)="deleteFromContainer(app)">Delete
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </td>
    </tr>
</table>
