<div bsModal (onHidden)="adaptRoute()" #uploadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Upload New Application</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluent">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="btn btn-primary btn-file">
                                Select Archive <input type="file"
                                                      class="btn btn-primary"
                                                      name="myFile"
                                                      ngFileSelect
                                                      [options]="options"
                                                      (onUpload)="handleUpload($event)"
                                                      (onClick)="resetUploadStats()">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <div>
                                <progressbar [max]="max" [value]="dynamic"
                                             [type]="deploymentInProgress ? 'success' : 'default'"><span
                                        style="color:white; white-space:nowrap;">{{dynamic}}%</span>
                                </progressbar>
                                <small><em>current upload speed: {{currentSpeed}}</em></small>
                            </div>
                        </div>
                    </div>
                    <div class="row uploadMarginRow" *ngIf="deploymentInProgress && !(uploadFile?.status === 500)">
                        <div class="col-md-12">
                            <h2>Deploying Archive</h2>
                            <div id="loaderContainer">
                                <div id="loader" *ngIf="!deploymentDone"></div>
                            </div>
                            <div *ngIf="deploymentDone" class="alert alert-success" role="alert">
                                <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Deployment done!
                            </div>
                        </div>
                    </div>
                    <div class="row uploadMarginRow" *ngIf="uploadFile?.status === 500">
                        <div class="col-md-12">
                            <h2>Failure</h2>
                            <div class="alert alert-danger" role="alert">
                                <strong>Warning!</strong><br>
                                {{failureMessage}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<opentosca-ui-deployment-completion *ngIf="startCompletionProcess"[appToComplete]="appToComplete"[linkToWineryResource]="linkToWineryResourceForCompletion" (completionSuccessful)="installInContainer($event)"></opentosca-ui-deployment-completion>
