<p-dialog (onHide)="adaptRoute()" [(visible)]="showModal" modal="true" draggable="false" resizable="false" width="800">
    <p-header>
        Upload new Application
    </p-header>
    <div class="row">
        <div class="col-sm-3">
            <span class="btn btn-primary btn-file">
                Select local File
                <input
                        type="file"
                        class="btn btn-primary"
                        name="myFile"
                        ngFileSelect
                        [options]="options"
                        [events]="inputUploadEvents"
                        (beforeUpload)="beforeUpload($event)"
                        (onUpload)="handleUpload($event)"
                        (click)="resetUploadStats()"
                        (change)="onChange($event)">
            </span>
        </div>
        <div class="col-sm-9">
            <div *ngIf="selectedFile; else noFileSelected">
                <h6 class="mt-2">Selected File</h6>
                <p>Name: {{ selectedFile?.name }}</p>
                <p>Size: {{ selectedFile?.size | humanizeBytes}}</p>
                <p>Last Modified: {{ selectedFile?.lastModifiedDate}}</p>
            </div>
            <ng-template #noFileSelected>
                <form>
                    <opentosca-debounced-validated-input
                        placeholder='URL to archive file'
                        [validator]='urlValidator'
                        (valueChange)='urlChange($event)'
                        (validityChange)='urlValidityChange($event)'>
                    </opentosca-debounced-validated-input>
                    <opentosca-debounced-validated-input
                        placeholder='Name for the archive file'
                        [validator]='nameValidator'
                        (valueChange)='nameChange($event)'
                        (validityChange)='nameValidityChange($event)'>
                    </opentosca-debounced-validated-input>
                </form>
            </ng-template>
        </div>
    </div>
    <div class="row" *ngIf="uploadingFile?.progress['percent'] > 0">
        <div class="col-sm-4 offset-md-3">
            <h6>File Upload in Progress</h6>
        </div>
        <div class="col-sm-5">
            <p-progressBar [value]="uploadingFile?.progress['percent']"></p-progressBar>
            <small><em>current upload speed: {{ currentSpeed }}</em></small>
        </div>
    </div>
    <div class="row mt-1" *ngIf="deploymentInProgress && !(uploadingFile?.status === 500)">
        <div class="col-sm-4 offset-md-3">
            <h6>Archive Deployment in Progress</h6>
        </div>
        <div class="col-sm-5 spinner">
            <sk-fading-circle></sk-fading-circle>
        </div>
    </div>
    <p-footer>
        <div class="d-flex justify-content-end">
            <button
                    *ngIf="this.tempData.cur.url && this.tempData.cur.name"
                    type="button"
                    class="btn btn-success mr-2"
                    (click)="startURLUpload()"
                    [disabled]="!(this.tempData.validURL && this.tempData.validName)">
                Upload from URL
            </button>
            <button
                    *ngIf="selectedFile"
                    type="button"
                    class="btn btn-success mr-2"
                    (click)="startUpload()"
                    [disabled]="(uploadingFile?.progress | json)?.percent > 0">
                Start Upload
            </button>
            <button
                    *ngIf="(uploadingFile?.progress | json)?.percent > 0 && (uploadingFile?.progress | json)?.percent < 100"
                    type="button"
                    class="btn btn-danger mr-2"
                    (click)="abortUpload()">
                Abort Upload
            </button>
            <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="closeModal()">
                Close
            </button>
        </div>
    </p-footer>
</p-dialog>
<opentosca-deployment-completion
        *ngIf="startCompletionProcess"
        [appToComplete]="appToComplete"
        [linkToWineryResource]="linkToWineryResourceForCompletion"
        (completionSuccessful)="installInContainer($event)">
</opentosca-deployment-completion>