<p-dataTable [value]="(plans | async)?.plans" responsive="true">
	<p-column field="id" header="ID"></p-column>
	<p-column field="plan_type" header="Type">
		<ng-template let-col let-inst="rowData" pTemplate="body">
			<a target="_blank" [href]="inst.plan_type">
				{{ inst.plan_type.match('[^/]*$')[0] }}
			</a>
		</ng-template>
	</p-column>
	<p-column field="plan_language" header="Language">
		<ng-template let-col let-inst="rowData" pTemplate="body">
			<a target="_blank" [href]="inst.plan_language">
				{{ inst.plan_language.match('[^/]*$')[0] }}
			</a>
		</ng-template>
	</p-column>
	<p-column field="plan_model_reference" header="Reference"></p-column>
</p-dataTable>

<opentosca-management-plan-execution-dialog [visible]="true" [plan]="(plans | async)?.plans[0]"></opentosca-management-plan-execution-dialog>
