<div class="breadcrumbContainer">
    <ol class="breadcrumb">
        <li>
            <a id="installedAppsBreadcrumb" routerLink="/marketplace">Repository</a>
        </li>
        <li class="active">
            OpenTOSCA Repository
        </li>
    </ol>
</div>
<table class="layoutTable" border="0" @fadeInOut>
    <tr>
        <td class="menu" id="subMenu">
            <div class="pageTopicIcon">
                <img src="../../assets/img/Marketplace_Header_Icon.png"/>
            </div>
            <br/>
            <a id="descriptionButton" class="selected" href="">OpenTOSCA Repo</a>
        </td>
        <td>
            <div id="content">
                <!--<div class="searchBox">
                    <span>Search: </span>
                    <input type="text" id="term" #term (keyup)="search(term.value)">
                </div>-->
                <div class="applicationTilesContainer">
                    <div class="applicationTile"
                         *ngFor="let app of apps" [tooltip]="app.displayName" @fadeInOut>
                        <img [src]="app.iconUrl" onerror="this.src='/OpenTOSCAUi/Default_Application_Icon.png'"/>
                        <div style="padding-top: 2px">
                            <span>{{app.displayName}}</span>
                        </div>
                        <!--<a id="applicationsButton">Details</a><br>-->
                        <div style="padding-top: 2px">
                            Details
                        </div>
                        <div *ngIf="app.inContainer" style="padding-top: 0">
                            Already Installed
                        </div>
                        <div *ngIf="!app.inContainer" style="padding-top: 0; padding-bottom: 0">
                            <button style="font-size: 12pt; font-family: Calibri, Arial; padding-top: 0; padding-bottom: 0; line-height: 1;" type="button"
                                    class="btn btn-link" (click)="installInContainer(app)">Install
                            </button>
                        </div>
                        <div style="padding-top: 0">
                            <a style="padding-top: 0; margin-top: 0" [href]="app.csarURL">Download</a>
                        </div>
                    </div>
                </div>

                <div style="margin: -75px 0 0 -75px" id="loader" *ngIf="showLoader"></div>
                <!--<div *ngFor="let category of filteredCategoriesAry">
                    <h2>{{category.category}}</h2>
                    <div class="applicationTilesContainer" @fadeInOut>
                        <div class="applicationTile"
                             *ngFor="let app of category.apps">
                            <img src="{{app.logoPath}}"/>
                            <h1>{{app.name}}</h1>
                            <a id="marketplaceButton" routerLink="/marketplace/applications/{{app.id}}">Details</a>
                            |<a href="">Install</a>
                        </div>
                    </div>

                </div>-->
            </div>
        </td>
    </tr>
</table>
