@import "../../node_modules/primeng/resources/primeng.css";
@import "../../node_modules/primeng/resources/themes/bootstrap/theme.css";

body .ui-dialog-footer {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-radius: 0 0 2.5em 2.5em;
}
