@import "../../node_modules/primeng/resources/themes/omega/theme.css";
@import "../../node_modules/primeng/resources/primeng.css";

body .ui-dialog-footer {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-radius: 0 0 2.5em 2.5em;
}

.modal-scrollable {
  height: 600px;
  width: 50%;
}

legend {
  font-size: 1.2em !important;
}

.ui-widget-content {
  a.btn {
    color: white;
  }
}
