<table class="layoutTable" border="0" @fadeInOut>
    <tr>
        <td class="menu" id="subMenu">
            <div class="pageTopicIcon">
                <img *ngIf="app" src="{{app.iconUrl}}" @fadeInOut/>
                <span *ngIf="app">{{app.displayName}}</span>
            </div>
            <br/>
            <a id="descriptionButton" class="selected" href="">Description</a>
            <a id="instancesButton" href="">Instances</a>
            <a id="statisticsButton" href="">Statistics</a>
            <a routerLink="/applications" style="margin-top:40px"><b>«</b> Back to Overview</a>
        </td>
        <td>
            <div id="content">

                <div *ngIf="app" style="width: 48%; display: inline-block; vertical-align: top">

                    <h2>Description</h2>
                    <p>
                        {{app.description}}
                        <br/><br/>
                        <button *ngIf="!provisioningDone && !provisioningInProgress" class="btn btn-primary" (click)="showChildModal()">Provision New Instance</button>
                        <sk-circle [isRunning]="true" [delay]="0" *ngIf="provisioningInProgress"></sk-circle>
                        <a class="btn btn-success" *ngIf="provisioningDone"
                           href="{{selfserviceApplicationUrl}}" role="button" target="_blank">Start Application</a>
                    </p>

                    <h2>Screenshots</h2>
                    <p>
                        <img *ngFor="let screenshotUrl of app.screenshotUrls" src="{{screenshotUrl}}"
                             style="width: 135px; margin: 10px 0px 0px 10px;">
                    </p>

                    <h2>Version</h2>
                    <p>
                        {{app.version}}
                    </p>

                    <h2>Authors</h2>
                    <p>
                        {{app.authors}}
                    </p>
                </div>

                <div style="width: 2%; display: inline-block; vertical-align: top"></div>

                <div style="width: 48%; display: inline-block;">
                    <h2>Topology Template</h2>

                    <img *ngIf="app" src="{{app.imageUrl}}" style="width: 400px;"/>

                    <br/><br/>
                    <a href="" class="editInWineryButton iconTextButton">Edit in Winery</a>
                </div>

            </div>
        </td>
    </tr>
</table>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please fill in following parameters</h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let param of buildPlanParameters?.InputParameters">
                    <div class="panel panel-default" *ngIf="showParam(param.InputParameter)">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{param.InputParameter.Name}}</h3>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" placeholder="{{param.InputParameter.Name}}"
                                   [(ngModel)]="param.InputParameter.Value">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideChildModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="startProvisioning()">Start Provisioning</button>
            </div>
        </div>
    </div>
</div>