<div class="breadcrumbContainer">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/applications']">Applications</a>
        </li>
        <li>
            <!-- We do not use routerLink directive with array notation of link since app? does not work that way -->
            <a routerLink="/applications/{{app?.id}}">{{app?.displayName}}</a>
        </li>
        <li class="active">
            Description
        </li>
    </ol>
</div>
<table class="layoutTable" border="0" @fadeInOut>
    <tr>
        <td class="menu" id="subMenu">
            <div class="pageTopicIcon">
                <img [src]="app?.iconUrl" onerror="this.src='/OpenTOSCAUi/Default_Application_Icon.png'" @fadeInOut/>
                <span>{{app?.displayName}}</span>
            </div>
            <br/>
            <a id="descriptionButton" class="selected">Description</a>
            <a id="instancesButton" routerLink="/applications/{{app?.id}}/instances">Instances</a>
            <!--<a id="statisticsButton" href="">Statistics</a>-->
            <a id="backToOverviewButton" routerLink="/applications"><b>«</b> Back to Overview</a>
        </td>
        <td>
            <div id="content">

                <div id="description-block" *ngIf="app">

                    <h2>Description</h2>
                    <p>
                        {{app?.description}}
                        <br/>
                    </p>

                    <div class="panel panel-success" *ngIf="planOutputParameters">
                        <div class="panel-heading">Provisioning Successful</div>
                        <div class="panel-body">
                            <p>The provisioning of the instance was successful. The output parameters are listed bellow:</p>
                        </div>

                        <!-- Table -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Parameter</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let param of planOutputParameters; let i = index">
                                    <td *ngIf="showOutputParameter(param)">{{i + 1}}</td>
                                    <td *ngIf="showOutputParameter(param)">{{param.OutputParameter.Name}}</td>
                                    <td *ngIf="showOutputParameter(param)">{{param.OutputParameter.Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2>Screenshots</h2>
                    <p>
                        <a *ngFor="let screenshotUrl of app?.screenshotUrls" target="_blank" [href]="screenshotUrl">
                            <img [src]="screenshotUrl"
                                 class="screenshotThumb">
                        </a>
                    </p>

                    <h2>Version</h2>
                    <p>
                        {{app?.version}}
                    </p>

                    <h2>Authors</h2>
                    <p>
                        {{app.authors}}
                    </p>

                    <button *ngIf="!provisioningDone && !provisioningInProgress" class="btn btn-primary"
                            (click)="showChildModal()">Provision New Instance
                    </button>

                    <!-- Buttons -->
                    <a class="btn btn-success" *ngIf="provisioningDone && selfserviceApplicationUrl !== ''"
                       [href]="selfserviceApplicationUrl" role="button" target="_blank">Start Application</a>
                    <div id="loaderContainer">
                        <div id="loader" *ngIf="provisioningInProgress"></div>
                    </div>
                </div>

                <div id="topology-block">
                    <h2>Topology Template</h2>
                    <a *ngIf="app" [href]="app?.imageUrl" target="_blank">
                        <img *ngIf="app" [src]="app?.imageUrl"/>
                    </a>
                </div>

            </div>
        </td>
    </tr>
</table>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please fill in following parameters</h4>
            </div>
             <div class="modal-body">

                <div *ngFor="let param of buildPlanOperationMetaData?.Plan.InputParameters">
                    <div class="panel panel-default" *ngIf="showParam(param.InputParameter)">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{param.InputParameter.Name}}</h3>
                        </div>
                        <div class="panel-body">
                            <textarea *ngIf="param.InputParameter.Name.indexOf('Key') > 0" type="text"
                                      class="form-control" placeholder="{{param.InputParameter.Name}}"
                                      [(ngModel)]="param.InputParameter.Value" (ngModelChange)="checkAllInputsFilled()"></textarea>
                            <input *ngIf="param.InputParameter.Name.indexOf('Password') > 0" type="password"
                                   class="form-control" placeholder="{{param.InputParameter.Name}}"
                                   [(ngModel)]="param.InputParameter.Value" (ngModelChange)="checkAllInputsFilled()">
                            <input *ngIf="(param.InputParameter.Name.indexOf('Password') == -1) && (param.InputParameter.Name.indexOf('Key') == -1)"
                                   type="text" class="form-control" placeholder="{{param.InputParameter.Name}}"
                                   [(ngModel)]="param.InputParameter.Value" (ngModelChange)="checkAllInputsFilled()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideChildModal()">Close</button>
                <button type="button" class="btn btn-primary" [disabled] ="false" (click)="startProvisioning()">Start Provisioning</button>
            </div>

        </div>
    </div>
</div>
