<table class="layoutTable" border="0">
    <tr>
        <td class="menu" id="subMenu">
            <div class="pageTopicIcon">
                <img src="/assets/img/Applications_Header_Icon.png"/>
            </div>
        </td>
        <td>
            <div id="content">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Connections</h5>
                    </div>
                    <div class="card-block">
                        <form>
                            <div class="form-group row has-feedback"
                                 [ngClass]="{'has-success': containerAPIAvailable, 'has-danger': !containerAPIAvailable}">
                                <div class="col-sm-3">
                                    <label class="col-form-label" for="containerAPI">Container API</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="containerAPI"
                                           [formControl]="containerAPIControl" [ngModel]="containerAPI | async"
                                           placeholder="Enter Container API URL here"
                                           [ngClass]="{'form-control-success': containerAPIAvailable, 'form-control-danger': !containerAPIAvailable}">
                                </div>
                            </div>

                            <div class="form-group row has-feedback"
                                 [ngClass]="{'has-success': repositoryAPIAvailable, 'has-danger': !repositoryAPIAvailable}">
                                <div class="col-sm-3">
                                    <label class="col-form-label" for="repositoryAPI">Repository API</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="repositoryAPI"
                                           [formControl]="repositoryAPIControl" [ngModel]="repositoryAPI | async"
                                           placeholder="Enter Repository API URL here"
                                           [ngClass]="{'form-control-success': repositoryAPIAvailable, 'form-control-danger': !repositoryAPIAvailable}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h5 class="mb-0">Smart Service Archive Parameter</h5>
                    </div>
                    <div class="card-block">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label class="col-form-label" for="buildPlanPath">Path to Build Plan</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="buildPlanPath"
                                           [formControl]="buildPlanPathControl" [ngModel]="buildPlanPath | async"
                                           placeholder="Enter URI to Build Plan here">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label class="col-form-label" for="terminationPlanPath">
                                        Path to Termination Plan
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="terminationPlanPath"
                                           [formControl]="terminationPlanPathControl"
                                           [ngModel]="terminationPlanPath | async"
                                           placeholder="Enter URI to Termination Plan here">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
