<opentosca-ui-action-bar>
    <opentosca-ui-action-item (click)="showChildModal()" styles="btn-primary">
        <i class="glyphicon glyphicon-plus"></i> Provision New Instance
    </opentosca-ui-action-item>
</opentosca-ui-action-bar>
<div class="container-fluid">
    <p-fieldset legend="Application Information" [toggleable]="true">
        <div class="row" *ngIf="(app | async); let app; else loading">
            <div class="col-lg-6">
                <div>
                    <h2>Description</h2>
                    <p *ngIf="app.description && app.description !== ''; else noDescription">
                        {{app.description}}
                        <br/>
                    </p>
                    <ng-template #noDescription>
                        <p>
                            No description provided.
                        </p>
                    </ng-template>
                </div>

                <!-- Buttons -->
                <!-- Todo Move Open Application Button to ServiceInstanceListEntryView -->
                <div style="margin-bottom: 10px;">
                    <a class="btn btn-success" *ngIf="provisioningDone && selfserviceApplicationUrl !== ''"
                       [href]="selfserviceApplicationUrl" role="button" target="_blank">Open Application</a>

                    <div id="loaderContainer">
                        <div id="loader" *ngIf="provisioningInProgress"></div>
                    </div>
                </div>

                <!-- Todo Move PlanOutput to ServiceInstanceListEntryView -->
                <div class="panel panel-success" *ngIf="planOutputParameters">
                    <div class="panel-heading">Results of the last provisioning task</div>
                    <div class="panel-body">
                        <p>The provisioning of the instance was successful. The output parameters are listed
                            bellow:</p>
                    </div>

                    <!-- Table -->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let param of planOutputParameters; let i = index">
                            <td *ngIf="showOutputParameter(param)">{{i + 1}}</td>
                            <td *ngIf="showOutputParameter(param)">{{param.OutputParameter.Name}}</td>
                            <td *ngIf="showOutputParameter(param)">{{param.OutputParameter.Value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h2>Version</h2>
                    <p *ngIf="app?.version && app?.version !==''; else noVersion">
                        {{app.version}}
                    </p>
                    <ng-template #noVersion>
                        <p>
                            No version provided.
                        </p>
                    </ng-template>
                </div>
                <div>
                    <h2>Authors</h2>
                    <ul *ngIf="app?.authors?.length > 0; else noAuthors">
                        <li *ngFor="let author of app.authors">
                            {{author}}
                        </li>
                    </ul>
                    <ng-template #noAuthors>
                        <p>
                            No authors provided.
                        </p>
                    </ng-template>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Topology Template</h2>
                <div>
                    <a *ngIf="app?.image_url && app?.image_url !== ''; else noTemplateImage" [href]="app.image_url" target="_blank">
                        <img class="img-responsive" [src]="app.image_url"/>
                    </a>
                </div>
                <ng-template #noTemplateImage>
                    <p>
                        No Template Image provided.
                    </p>
                </ng-template>
            </div>
        </div>
        <ng-template #loading>
            <div class="row">
                <div class="col-lg-12">
                    Loading App Infos...
                </div>
            </div>
        </ng-template>
    </p-fieldset>
    <p-fieldset legend="Application Instances" [toggleable]="true">
        <div class="row">
            <div class="col-lg-12">
                <opentosca-ui-application-instance-list (onTerminateInstance)="emitTerminationPlan($event)"></opentosca-ui-application-instance-list>
            </div>
        </div>
    </p-fieldset>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please fill in following parameters</h4>
            </div>
            <div class="modal-body">

                <div *ngFor="let param of buildPlanOperationMetaData?.Plan.InputParameters">
                    <div class="panel panel-default" *ngIf="showParam(param.InputParameter)">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{param.InputParameter.Name}}</h3>
                        </div>
                        <div class="panel-body">
                            <textarea *ngIf="param.InputParameter.Name.indexOf('Key') > 0" type="text"
                                      class="form-control" placeholder="{{param.InputParameter.Name}}"
                                      [(ngModel)]="param.InputParameter.Value"
                                      (ngModelChange)="checkAllInputsFilled()"></textarea>
                            <input *ngIf="param.InputParameter.Name.indexOf('Password') > 0" type="password"
                                   class="form-control" placeholder="{{param.InputParameter.Name}}"
                                   [(ngModel)]="param.InputParameter.Value" (ngModelChange)="checkAllInputsFilled()">
                            <input *ngIf="(param.InputParameter.Name.indexOf('Password') == -1) && (param.InputParameter.Name.indexOf('Key') == -1)"
                                   type="text" class="form-control" placeholder="{{param.InputParameter.Name}}"
                                   [(ngModel)]="param.InputParameter.Value" (ngModelChange)="checkAllInputsFilled()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideChildModal()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="false" (click)="startProvisioning()">Start
                    Provisioning
                </button>
            </div>

        </div>
    </div>
</div>
