<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <button class="btn btn-primary navbar-btn"
                        (click)="showChildModal()">Provision New Instance
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <p-fieldset legend="Application Instances" [toggleable]="true">
        <div class="row">
            <div class="col-lg-12">
                <opentosca-ui-application-instance-list [instances]="currentAppInstances | async" (onTerminateInstance)="emitTerminationPlan($event)"></opentosca-ui-application-instance-list>
            </div>
        </div>
    </p-fieldset>
    <p-fieldset legend="Application Information" [toggleable]="true">
        <div class="row" *ngIf="(app?.description && app.description !== '') || provisioningDone
            || provisioningInProgress || app?.screenshotUrls?.length > 0
            || (app?.version && app?.version !=='') || app?.authors?.length > 0; else noAppInfos">
            <div class="col-lg-6">
                <div *ngIf="app?.description && app.description !== ''">
                    <h2>Description</h2>
                    <p>
                        {{app?.description}}
                        <br/>
                    </p>
                </div>

                <!-- Buttons -->
                <div style="margin-bottom: 10px;">
                    <a class="btn btn-success" *ngIf="provisioningDone && selfserviceApplicationUrl !== ''"
                       [href]="selfserviceApplicationUrl" role="button" target="_blank">Start Application</a>

                    <div id="loaderContainer">
                        <div id="loader" *ngIf="provisioningInProgress"></div>
                    </div>
                </div>

                <div class="panel panel-success" *ngIf="planOutputParameters">
                    <div class="panel-heading">Results of the last provisioning task</div>
                    <div class="panel-body">
                        <p>The provisioning of the instance was successful. The output parameters are listed
                            bellow:</p>
                    </div>

                    <!-- Table -->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let param of planOutputParameters; let i = index">
                            <td *ngIf="showOutputParameter(param)">{{i + 1}}</td>
                            <td *ngIf="showOutputParameter(param)">{{param.OutputParameter.Name}}</td>
                            <td *ngIf="showOutputParameter(param)">{{param.OutputParameter.Value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="app?.screenshotUrls?.length > 0">
                    <h2>Screenshots</h2>
                    <p>
                        <a *ngFor="let screenshotUrl of app?.screenshotUrls" target="_blank" [href]="screenshotUrl">
                            <img [src]="screenshotUrl"
                                 class="screenshotThumb">
                        </a>
                    </p>
                </div>
                <div *ngIf="app?.version && app?.version !==''">
                    <h2>Version</h2>
                    <p>
                        {{app?.version}}
                    </p>
                </div>
                <div *ngIf="app?.authors?.length > 0">
                    <h2>Authors</h2>
                    <ul>
                        <li *ngFor="let author of app?.authors">
                            {{author}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Topology Template</h2>
                <div *ngIf="app?.imageUrl && app?.imageUrl !== ''">
                    <a *ngIf="app" [href]="app?.imageUrl" target="_blank">
                        <img id="topology-image" *ngIf="app" [src]="app?.imageUrl"/>
                    </a>
                </div>
                <div *ngIf="!(app?.imageUrl && app?.imageUrl !== '')">
                    No Template Image provided.
                </div>

            </div>
        </div>
        <ng-template #noAppInfos>
            <div class="col-lg-12">
                No Application Information provided.
            </div>
        </ng-template>
    </p-fieldset>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please fill in following parameters</h4>
            </div>
            <div class="modal-body">

                <div *ngFor="let param of buildPlanOperationMetaData?.Plan.InputParameters">
                    <div class="panel panel-default" *ngIf="showParam(param.InputParameter)">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{param.InputParameter.Name}}</h3>
                        </div>
                        <div class="panel-body">
                            <textarea *ngIf="param.InputParameter.Name.indexOf('Key') > 0" type="text"
                                      class="form-control" placeholder="{{param.InputParameter.Name}}"
                                      [(ngModel)]="param.InputParameter.Value"
                                      (ngModelChange)="checkAllInputsFilled()"></textarea>
                            <input *ngIf="param.InputParameter.Name.indexOf('Password') > 0" type="password"
                                   class="form-control" placeholder="{{param.InputParameter.Name}}"
                                   [(ngModel)]="param.InputParameter.Value" (ngModelChange)="checkAllInputsFilled()">
                            <input *ngIf="(param.InputParameter.Name.indexOf('Password') == -1) && (param.InputParameter.Name.indexOf('Key') == -1)"
                                   type="text" class="form-control" placeholder="{{param.InputParameter.Name}}"
                                   [(ngModel)]="param.InputParameter.Value" (ngModelChange)="checkAllInputsFilled()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideChildModal()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="false" (click)="startProvisioning()">Start
                    Provisioning
                </button>
            </div>

        </div>
    </div>
</div>
